* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  .header-container {
    color: #002249;
    background-color: #c3f6ed;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-around;
    align-items: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }

.footer {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}
.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

dialog {
  margin: 10% auto;
  width: 90%;
  height:60%;
  max-width: 350px;
  background-color: blanchedalmond;
  padding: 34px;
  border: 0;
  border-radius: 5px;
}

button{
  background-color: rgb(38, 0, 209);
  width: 100px;
  height:25px;
  color:white;
  border-radius: 20px;
}

#addNewBook {

}